@model IEnumerable<test2.Models.Donation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/adminDashboard.cshtml";
}

<!-- Page heading -->
<div class="row align-items-center mb-4">
    <div class="col-12">
        <h1 class="mb-0">Donations</h1>
    </div>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comping)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th scope="col" class="text-center">Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comping.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Username)
                    </td>
                    <td class="text-center">
                        <div class="btn-group btn-group-sm" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary" title="Edit">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info" title="Details">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" title="Delete">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
