@model IEnumerable<test2.Models.Comping>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/adminDashboard.cshtml";
}

<!-- Page heading -->
<div class="row align-items-center mb-4">
    <div class="col-12">
        <h1 class="mb-0">Compings</h1>
    </div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImgUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Goal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th scope="col" class="text-center">Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.ImgUrl)" alt="" class="img-fluid"
                            style="width: 60x; height: 50px;">
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LongDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Goal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Username)
                    </td>
                    <td class="text-center">
                        <div class="btn-group btn-group-sm" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary" title="Edit">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info" title="Details">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" title="Delete">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
