@model List<Comping>

<body>
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <section class="promo-area" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo-wrap">
                        <h1 class="promo-title">Categories <span> Nashmi</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="causes-area cause-page section-padding">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-sm-4">
                        <div class="single-cause">
                            <figure class="cause-thumb">
                                <img src="@item.ImgUrl" alt="Cause image" />
                            </figure>
                            <div class="cause-detials">
                                <h3>@item.Title</h3>
                                <p>@item.ShortDesc</p>
                                <div class="cause-donate">
                                    <div class="cause-raise">
                                        <label>Raise</label> $@item.Amount
                                    </div>
                                    <div class="cause-goal">
                                        <label>Goal</label> $@item.Goal
                                    </div>
                                </div>
                                @{
                                    var progress = item.Goal.HasValue && item.Goal > 0
                                    ? ((double)item.Amount.GetValueOrDefault() / item.Goal.Value) * 100
                                    : 0;
                                }
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" role="progressbar"
                                        style="width: @progress.ToString("0")%" aria-valuenow="@progress" aria-valuemin="0"
                                        aria-valuemax="100">
                                        @progress.ToString("0")%
                                    </div>
                                </div>
                                <hr />
                                <a href="@Url.Action("DonationDetails", "Home", new { id = item.Id })">
                                    <p class="details">Details</p>
                                </a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>

<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="footer-top"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget footer-about">
                    <div class="f-logo">
                        <a href="#">
                            <img src="~/images/components/logo-ye.png" alt="Logo" />
                        </a>
                    </div>
                    <p>
                        Support life-saving causes and empower communities by donating
                        money to provide essential resources, donating blood to save
                        lives, and shopping with us to support low-income entrepreneurs.
                    </p>
                    <div class="footer-social">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-sm-5 offset-sm-1">
                <div class="footer-widget">
                    <h3 class="widget-title">Useful Links</h3>
                    <ul>
                        <li><a href="~/">Profile</a></li>
                        <li><a href="~/Home/AboutUs">About Us</a></li>
                        <li><a href="~/Home/BloodCamping">Blood donation</a></li>
                        <li><a href="~/Shop/Index">Shop</a></li>
                        <li><a href="~/ContactRequest/CreateContact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="footer-widget">
                    <h3 class="widget-title">Filde Nashmi </h3>
                    <ul>
                        <li><a href="~/Home/Categories/28">
                                Educational</a></li>
                        <li><a href="~//Home/Categories/29">
                                Nutrition</a></li>
                        <li><a href="~/Home/Categories/30">
                                Healthcare</a></li>
                        <li><a href="~/Home/Categories/31">
                                Social Solidarity</a></li>
                        <li><a href="Home/Categories/32">
                                Religious</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-5 offset-sm-1 offset-lg-0">
                <div class="footer-widget">
                    <h3 class="widget-title">Contact Us</h3>
                    <ul class="footer-contact">
                        <li>
                            <i class="fa fa-home"></i>
                            <span>Jordan Amman</span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span><a href="tel:+00962787020188">00962787020188</a></span>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span><a href="mailto:omarsarawi66@gmail.com">nashmi@gmail.com</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row copy-right g-0">
            <div class="col-xl-6 col-md-7 order-2 order-md-1">
                <p>
                    Copyright © 2025. All Rights Reserved by
                    <a href="#">Nashmi</a>
                </p>
            </div>

        </div>
    </div>
</footer>
<!-- Footer Area Start -->
</body>
